<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yxd">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".devlib.base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DevLib"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".knowledge.component.broadcast_receiver.code.TestBRActivity"
            android:exported="false" />
        <activity
            android:name=".knowledge.component.activity.codes.IntentDataTransportActivity"
            android:exported="false" />
        <activity
            android:name=".knowledge.component.activity.codes.C"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
        <activity
            android:name=".knowledge.component.activity.codes.BActivity"
            android:exported="false" />
        <activity
            android:name=".knowledge.component.activity.codes.A"
            android:exported="false"
            android:launchMode="standard" />
        <activity
            android:name=".devlib.code.databinding.DataBindingActivity"
            android:exported="false" />

        <receiver
            android:name=".knowledge.component.broadcast_receiver.code.StaticBroadcastR"
            android:exported="true">
            <intent-filter>
                <action android:name="static" />
            </intent-filter>
        </receiver>

        <service android:name=".knowledge.component.service.code.TestService" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <service android:name=".knowledge.ipc._01_aidl.code.AidlService"
            android:process=":test"/>

        <service android:name=".knowledge.ipc._03_messenger.code.MessengerService"
            android:process=":test"/>
    </application>

</manifest>